#headline {
    -fx-background-color: white;
}
#startButton {
    -fx-background-color: white;
    -fx-border-radius: 1px;
    -fx-border-color: black;
}
#startButton:hover {
    -fx-background-color: grey;
}